header {
  text-align: center;
  background-color: white;
  padding: 10px;
  margin-bottom: 20px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 3px rgba(0, 132, 154, 1);
  img {
    width: 250px;
    height: auto;
    padding-bottom: 10px;
  }
  a {
    margin-left: 30px;
    color: rgba(0, 132, 154, 1);
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px;

    &:hover {
      background-color: rgba(0, 132, 154, 1);
      color: white;
    }
  }

  .active {
    color: rgba(0, 132, 154, 0.6);
    text-decoration: none;
  }
}
