header {
  background-color: white;
  padding: 20px 50px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 3px #00849a;
  img {
    width: 250px;
    height: auto;
    padding-bottom: 10px;
  }
  a {
    margin-left: 30px;
    color: #00849a;
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px;

    &:hover {
      background-color: #00849a;
      color: white;
    }
  }
}
