.home-page {
  margin-top: 50px;
  margin-right: 40px;
}
.home-table {
  box-sizing: border-box;
  width: 50%;
  margin: 20px;
  padding: 10px 30px;
  box-shadow: lightgrey 4px 4px 20px;
}
.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}
