<div class="patient-card">
  <div class="patient-card-top">
    <p>
      {{ patient.family | uppercase }} {{ patient.given | uppercase }}
      <img class="icon" [src]="sexIcon" alt="Gender Icon">
    </p>
    <div>
      {{ patient.dob }}
    </div>
    <div>
      <img class="patient-card-icon" [src]="editIcon" alt="Edit Patient">
      <a routerLink=""><img class="patient-card-icon" [src]="closeIcon" alt="Close File"></a>
    </div>
  </div>
  <div class="patient-card-body">
    <p>
      <b>Address:</b> {{ patient.address }}
    </p>
    <p>
      <b>Phone Number:</b> {{ patient.phone }}
    </p>
  </div>
</div>
